# Default ignored files
/../../FundamentosP./.idea/shelf/
/../../FundamentosP./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../FundamentosP./.idea/httpRequests/
# Ignored default folder with query files
/../../FundamentosP./.idea/queries/
# Datasource local storage ignored files
/../../FundamentosP./.idea/dataSources/
/../../FundamentosP./.idea/dataSources.local.xml
